.container{
    width: 390px;
    padding: 40px 20px;
    background: rgba(191, 196, 200, 0.5);
    margin: 0 auto;
    @include tablet{
        width: 744px;
        padding: 50px 32px;
    }
    @include desktop{
        width: 1440px;
        padding: 80px 48px ;
    }

}
.text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--black);
}
.button__primary{
    border-radius: 16px;
    border: none;
    padding: 12px 12px 12px 24px;
    background-color: var(--blue);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--white);
}
.button__secondary{
    border-radius: 16px;
    border: none;
    padding: 12px 24px;
    background-color: var(--white);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--black);
}
